body{
    padding: 20px;
}

.popField{
    display: none;
    position: absolute;
    margin: 10% 0 0 30%;
    background-color: rgb(159, 186, 202);
    width: 50%;
    height: 50%;
}

.button{
    cursor: pointer;
    /* width: 10%; */
    background-color: pink;
    height: 230px;
}


.title{
    color: blue;
    grid-area: title;
    /* margin: 10px; */
    display: inline-block;
}

.intro{
    grid-area: intro;
    display: inline-block;
}

.button{
    color: red;
    display: block;
    width: 100%;
}
